@{
    string message = TempData["message"]?.ToString();
    string subheader = ViewBag.Subheader;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>My Trip Log</h1>
        </header>

        <main role="main">
            @if (!string.IsNullOrEmpty(message))
            {
                <h2 class="bg-light text-center p-2 mb-1">@message</h2>
            }

            @if (!string.IsNullOrEmpty(subheader))
            {
                <h2 class="mt-2 mb-1">@subheader</h2>
            }

            @RenderBody()
        </main>
    </div>
</body>
</html>